.max-width-600,
.portrait,
.landscape {
  display: none;
}

@media screen and (orientation: portrait) {
  body {
    background: yellow;
  }
  .portrait {
    display: block;
  }
}

@media screen and (orientation: landscape) {
  body { 
    background: orange 
  }
  .landsdcape {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  body {
    background: red;
  }
  .max-width-600 {
    display: block;
  }
}
